/* You can add global styles to this file, and also import other style files */
 body {
   font-family: 'arial';
   padding: 20px
 }

 .habit-list {
   width: 300px;
   display: block;
   position: relative;
 }

